<ion-view title="Login">

    <h3 style="width: 100%; text-align: center; padding: 1.5em 0;">Entre com seu login do Viva</h3>

    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="usuário" ng-model="login.usuario">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="senha" ng-model="login.senha">
        </label>
    </div>

    <div class="padding">
        <button class="button button-block button-dark" ng-click="loginClick()">ENTRAR</button>
    </div>

</ion-view>
